@keyframes grow {
    0% {
      transform: scaleX(0);
    }
    60% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes shrink {
    0% {
      transform: scaleX(1);
    }
  
    100% {
      transform: scaleX(0);
    }
  }
  
  
  @keyframes move-up {
    0% {
      transform: translateY(4.5rem)
      }
    100% {
      transform: translateY(0)
      }
  }
  
  @keyframes delayed-move-up {
    0% {
      display: none;
      transform: translateY(4.5rem)
      }
    50% {
      display: none;
      transform: translateY(4.5rem)
      }
    100% {
      transform: translateY(0)
      }
  }
  
  @keyframes move-down {
    0% {
      transform: translateY(0)
      }
    80% {
       transform: translateY(0)
      }
    100% {
      transform: translateY(4.5rem)
      }
  }
  
  @keyframes delayed-move-down {
    0% {
      transform: translateY(0)
      }
    50% {
      transform: translateY(0)
      }
    100% {
      transform: translateY(4.5rem)
      }
  }
  
  @keyframes delayed-scale {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes alert-in {
    0% {
      transform: translateY(-10rem);
    }
    50% {
      transform: translateY(0);
      transform: rotateZ(20deg);
    }
    60% {
      transform: rotateZ(20deg);
    }
    70% {
      transform: rotateZ(-15deg);
    }
    80% {
      transform: rotateZ(10deg);
    }
    90% {
      transform: rotateZ(-5deg);
    }
    100% {
      transform: rotateZ(0);
    }
  }
  
  @keyframes alert-out {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10rem);
    }
  }
  
  
  
  
  .fade-first-button-enter-active{
    transition: all 0.25s ease;
  }
  .fade-first-button-leave-active {
    transition: all 0.5s ease;
    transition-delay: 1s;
  }
  
  .fade-first-button-enter-from,
  .fade-first-button-leave-to {
    opacity: 0;
    transform: scale(0);
  }
  
  
  
  .fade-second-button-enter-active{
    transition: all 0.5s ease;
  }
  .fade-second-button-leave-active {
    transition: all 0.25s ease;
    transition-delay: 1s;
  }
  
  .fade-second-button-enter-from,
  .fade-second-button-leave-to {
    opacity: 0;
    transform: scale(0);
  }
  
  
  .rotate-enter-active,
  .rotate-leave-active {
    transition: all 0.25s ease;
  }
  
  .rotate-enter-from,
  .rotate-leave-to {
    opacity: 0;
    transform: rotateZ(45deg);
  }










.fade-and-move-enter-active,
.fade-and-move-leave-active {
  transition: all 0.25s ease;
}

.fade-and-move-enter-from,
.fade-and-move-leave-to {
  opacity: 0;
  /* margin-right: -10rem; */
  transform: translateX(-5rem);
}

.scale-enter-active{
  animation: grow .5s ease;
}
.scale-leave-active {
  animation: shrink 1s ease;
}

/* .scale-enter-from,
.scale-leave-to {
  transform: scaleX(0);
} */

.alert-enter-active{
  animation: alert-in 1s ease;
}
.alert-leave-active {
  animation: alert-out 1s ease;
}

.delayed-scale-enter-active{
  animation: delayed-scale 1s ease;
}
.delayed-scale-leave-active {
  animation: delayed-scale 1s ease reverse;
}

.move-up-enter-active{
  animation: move-up .5s ease;
}
.move-up-leave-active {
  animation: delayed-move-down 1.5s ease;
}

.delayed-move-up-enter-active{
  animation: delayed-move-up 1s ease;
}
.delayed-move-up-leave-active {
  animation: move-down .5s ease;
}





  


  



  

  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: all 1s ease;
  }
  
  .slide-left-enter-from,
  .slide-left-leave-to{
    transform: translateX(100%);
    position: fixed;
    top: 0;
  }

  .slide-right-enter-active,
  .slide-right-leave-active {
    transition: all 1s ease;
  }
  
  .slide-right-enter-from,
  .slide-right-leave-to {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
  }


  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s ease;
  }
  
  .fade-enter-from,
  .fade-leave-to {
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
  }








  .tg-file-chip:not(.expanded) .v-chip__content{
    animation-name: collapse-width;
    /* animation-direction: reverse; */
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
  }

  .tg-file-chip.expanded .v-chip__content{
    animation-name: expand-width;
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
  }


@keyframes expand-width {
from {max-width: 0;}
to {max-width: 10rem;}
}

@keyframes collapse-width {
from {width: 1rem;}
to {width: 0;}
}




  


.pop-enter-active,
.pop-leave-active {
  transition: all .5s cubic-bezier(1,0.0,.5,2)
}

.pop-enter-from,
.pop-leave-to{
  transform: translateY(5rem);
  /* position: fixed; */
  /* top: 0; */
}